.tweet-content {
    .tweet {
        border-bottom: solid 1px rgba(203, 197, 197, 0.5);
        padding: 10px 20px;

        .images {
            width: 300px;

            img {
                width: 50%;
            }
        }
    }

    .pagination {
        display: flex;
        gap: 0 10px;
        justify-content: center;
    }
}