.toppage {
    display: flex;
    height: 100vh;

    .flex-left {
        border-right: solid 1px rgba(203, 197, 197, 0.23);
        width: 350px;
    }

    .flex-center {
        width: calc(100vw - 700px);

        .nav-tabs {
            .nav-item {
                width: 50%;

                button {
                    width: 100%;
                }
            }
        }
    }

    .flex-right {
        width: 350px;
        border-left: solid 1px rgba(203, 197, 197, 0.23);
        text-align: center;
        padding: 10px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        input {
            background-color: rgba(184, 174, 174, 0.232);
            border-radius: 200px;
            border: none;
            padding: 10px 10px;
            width: 90%;
        }

        .subscribe-area {
            background-color: rgba(184, 174, 174, 0.232);
            border-radius: 20px;
            text-align: left;
            padding: 10px 20px;
            width: 90%;

            h4 {
                font-weight: bold;
                font-size: 1.25rem;
            }

            p {
                font-weight: 0.875rem;
            }

            button {
                border-radius: 200px;
                padding: 0 10px;
                background-color: rgb(29, 155, 240);
                color: #fff;
                border: none;
            }
        }

        .happening-area {
            background-color: rgba(184, 174, 174, 0.232);
            border-radius: 20px;
            width: 90%;
            padding: 10px 20px;
            text-align: left;

            h4 {
                font-weight: bold;
                font-size: 1.25rem;
            }

            p {
                font-weight: 0.875rem;
            }
        }

        .who-to-follow {
            background-color: rgba(184, 174, 174, 0.232);
            border-radius: 20px;
            width: 90%;
            padding: 10px 20px;
            text-align: left;

            h4 {
                font-weight: bold;
                font-size: 1.25rem;
            }

            p {
                font-weight: 0.875rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .toppage {
        .flex-left {
            width: 200px;
        }

        .flex-center {
            width: calc(100vw - 400px);
        }

        .flex-right {
            width: 200px;
        }
    }
}

@media (max-width: 600px) {
    .toppage {
        .flex-center {
            width: calc(100vw - 200px);
        }

        .flex-right {
            display: none;
        }
    }
}