.tweet {
    .tweet-name-dots {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: #000;

        .tweet-text {
            overflow-wrap: break-word;
        }

        .images {
            width: 300px;

            img {
                width: 50%;
            }
        }
    }


    .icon-area {
        margin: 20px 0 10px 0;
        display: flex;
        justify-content: space-between;

        .comment-icon {
            cursor: pointer;
        }
    }
}